<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your business with us.</p>
                <div class="row">

                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about.svg" alt="hero image">
                        </figure>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>WE ARE PROFESSIONAL DEVELOPERS</h1>
                        <P>Welcome to our website we provide you with the best service. You can find 
                            all the resources you need on our website related to your niche.<P>
                        <button class="btn-style btn-primary">More</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>